#app {
  height: 100%;
  position: relative;
}
.root {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}
.div-header-zindex {
	z-index: 100;
}
.div-header-fixed {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.div-aixinchou {
  padding: 0 16px;
  height: 60px;
  display: flex;
  background: red;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 #eee;
}
.div-aixinchou .img-logo {
	width: 101.5px;
}
.div-aixinchou .p-raise {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 0 10px;
	height: 30px;
	line-height: 26px;
	background-color: #137af2;
	border-radius: 3px;
}
.div-content{
	padding-top: 60px;
	padding-bottom: 70px;
	height: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
}
.div-sponsor-info{
	position: relative;
	margin: 20px 16px 0;
	background-color: #fff;
}
.div-sponsor-info h3 {
	color: #999;
	font-size: 12px;
	line-height: 12px;
}
.div-sponsor-info h3 img {
	width: 25px;
	vertical-align: -7.5px;
	border-radius: 50%;
}
.div-sponsor-info .help-icon {
	position: absolute;
	right: 0;
	top: 4px;
	width: 75px;
	height: 17px;
	background: #5fc0b8;
	border-radius: 3px;
}
.div-sponsor-info .help-icon img {
	width: 11px;
	height: 12px;
	position: absolute;
	top: 3px;
	margin-left: 6px;
}
.div-sponsor-info .help-icon span {
	position: absolute;
	left: 15px;
	height: 17px;
	line-height: 17px;
	color: #fff;
	font-size: 12px;
	padding: 0 5px;
}
.div-sponsor-info h1 {
	color: #111;
	width: 100%;
	font-size: 24px;
	line-height: 35px;
	font-weight: 700;
	margin: 20px auto 0;
}
.div-raise-amount {
	padding-top: 11px;
	padding-bottom: 8px;
	height: 81.5px;
	margin: 16px;
	margin-bottom: 0;
	display: flex;
	justify-content: space-around;
	-webkit-box-align: center;
	align-items: center;
	background: #f8f8f8;
	border-radius: 5px;
}
.div-raise-amount .div-cell {
	width: 33.3%;
}
.div-raise-amount .div-cell .p-amount {
	text-align: center;
	color: #ffa300;
	font-size: 21px;
}
.div-raise-amount .div-cell .p-type {
	font-size: 13px;
	color: #666;
	margin-top: 8.5px;
	text-align: center;
	font-weight: 400;
}
.div-huzhu-explain {
	width: 90%;
	margin: 20px auto;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	align-items: flex-start;
	padding-bottom: 25px;
	border-bottom: 1px solid #dadada;
}
.div-huzhu-explain .img-money {
	width: 33.5px;
	border-style: none;
}
.div-huzhu-explain .div-tip {
	display: flex;
	-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-left: 11.5px;
  margin-right: 4px;
}
.div-huzhu-explain .p-key {
	font-size: 14px;
	color: #333;
	line-height: 21px;
}
.div-huzhu-explain .p-value {
	margin-top: 4px;
	font-size: 11px;
	color: #999;
	font-weight: 300;
}
.div-huzhu-explain .img-warning {
	width: 20px;
	height: 20px;
	margin-left: 5px;
}
.div-case-detail {
	display: flex;
	-webkit-box-direction: normal;
	margin-top: 30px;
	padding-right: 16px;
	padding-left: 16px;
	color: #333;
	-webkit-box-orient: vertical;
	flex-direction: column;
}
.div-case-detail .p-title {
	display: flex;
	-webkit-box-direction: normal;
	widows: 100%;
	-webkit-box-orient: horizontal;
	flex-direction: row;
	-webkit-box-pack:justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}
.div-case-detail .p-title-content {
    color: #111;
    font-size: 18px;
}
.div-case-detail .p-title-report {
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	font-size: 14px;
	color: #ffc400;
}
img {
	border-style: none;
}
.div-case-detail .p-title-icon {
	display: inline-block;
	height: 14px;
	width: 14px;
	margin-right: 5px;
}
.div-case-detail .div-case-content {
	margin-top: 15px;
	font-weight: 300;
}
.div-case-detail .div-case-content .text-content {
	text-align: justify;
	font-size: 15px;
	word-wrap: break-word;
	word-break: break-all;
	margin-bottom: 15px;
	font-weight: 300;
	max-height: 100%;
	line-height: 20px;
}
.div-case-detail .div-case-content .short {
	max-height: 110px;
	overflow: hidden;
}
.div-case-detail .div-case-content .div-spread {
	text-align: center;
	color: #666;
	margin-top: 15px;
	font-size: 12px;
}
.div-case-detail .div-case-content .div-spread img {
	width: 13px;
	margin-right: 4px;
}
.div-case-imgs {
	margin-top: 5px;
}
.div-case-imgs .img-list {
	width: 100%;
	padding: 17.5px 16px 0;
	box-sizing: border-box;
}
.div-case-imgs .img-list img {
	width: 23%;
	height: 23%;
}
.div-prove-material {
	position: relative;
	margin: 25px 16px 11px;
}
.div-prove-material .title, .div-prove-material .title-right {
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
}
.div-prove-material .title {
	width: 100%;
	margin: 18px 53.5px 0 0;
	-webkit-box-pack: justify;
	justify-content: space-between;
	color: #111;
	font-size: 18px;
}
.div-prove-material .tltle-right {
	-webkit-box-pack: center;
	justify-content: center;
	font-size: 14px;
	color: #ffc400;
}
.div-status-wrap {
	width: 100%;
	margin-top: 15px;
	padding: 0 15px;
	background: #f5f5f5;
	border-radius: 5px;
	box-sizing: border-box;
}
.div-status {
	display: flex;
	padding: 21px 0;
	border-bottom: 1px solid #e0e0e0;
}
.div-status .left {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: start;
	align-items: flex-start;
	-webkit-box-pack: end;
	justify-content: end;
	min-width: 75px;
	font-size: 15px;
}
.div-status .right {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 28px;
  color: #666;
  font-size: 14px;
}
.div-status .right .right-module-name {
	margin-bottom: 9px;
}
.div-status .right .pass-tip {
	margin-top: 4.5px;
}
.div-status .right .pass-tip img {
	margin-top: 2px;
	float: left;
	width: 14px;
	height: 14px;
}
.div-status .right .pass-tip .pass-text {
	display: block;
	padding-left: 22.5px;
	color: #80ce42;
	font-size: 13px;
}
.report {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 21px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  text-align: center;
  color: #ffc400;
  letter-spacing: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.report-left {
	font-size: 13px;
}
.report-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.report-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.div-exist-prove {
	padding: 40px 16px 36px;
	background-color: #fff;
}
.div-exist-prove .div-title {
  position: relative;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.div-exist-prove .div-title .p-prove-number {
	width: 70%;
	font-size: 18px;
	color: #111;
}
.div-exist-prove .div-title .p-prove-number .color-orange {
	color: #ffba00;
}
.div-exist-prove .div-title .p-prove-link {
	position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #ff8400;
  text-decoration: underline;
  font-weight: 300;
}
.div-exist-prove .img-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px;
  padding-left: 1.5px;
  padding-top: 0;
  padding-right: 1.5px;
}
.div-exist-prove .img-list .div-item {
  position: relative;
  width: 15%;
  margin-right: 5%;
}
.div-exist-prove .img-list img {
	width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: .5px solid #dadada;
}
.div-exist-prove .img-list .div-item-current .triangle-icon {
    opacity: 1;
}
.div-exist-prove .img-list .div-item .triangle-icon {
  opacity: 0;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 115%;
  left: 36%;
  font-size: 20px;
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  background-color: #f8f8f8;
}
.div-exist-prove .div-prove-content {
  position: relative;
  margin-top: 15px;
  padding-bottom: 15px;
  background: #f5f5f5;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.p-prove-name {
  padding-top: 10px;
  margin: 0 16.5px;
  font-size: 13px;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.p-prove-name .realy-name {
  margin-right: 10px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 15px;
  color: #576b95;
}
.p-prove-name .true-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border: .5px solid #137af2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  color: #137af2;
}
.p-prove-name .true-name .name-type, .p-prove-name .true-name .verify-name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 45px;
}

.p-prove-name .true-name .verify-name {
  border-right: .5px solid #137af2;
}
.div-exist-prove .div-prove-content .p-content {
  height: 100%;
  margin: 7px 16.5px 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.3;
}
.div-progress {
	padding: 0 16px 15px 16px;
	background: #fff;
}
.div-progress .div-title {
  margin-top: 30px;
  margin-bottom: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.div-progress .div-title .p-key {
  font-size: 18px;
  color: #111;
}
.div-progress .content, .div-progress .content .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.div-progress .content .left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.div-progress .content, .div-progress .content .left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.div-progress .content .left .time {
    width: 53.5px;
    line-height: 22px;
    margin-top: 25px;
    font-size: 13px;
    color: #000;
    background: #f5f5f5;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.div-progress .content .right {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 17.5px;
    padding-top: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dadada;
}
.div-progress .content .right .div-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.div-progress .content .right .div-top p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 20px;
}
.div-progress .content .right .img-head {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.div-progress .content .right .div-top .nickname {
    max-width: 115px;
    margin-left: 5px;
    font-size: 15px;
    white-space: nowrap;
    color: #576b95;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.div-progress .content .right .div-top .img-comment {
    width: 19px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAfCAYAAACLSL/LAAAAAXNSR…GpH9M0DYMgIFytsgsYdi0bo20fdbtdbp99wRl7w+fCBskvrSTOJN8wEJIAAAAASUVORK5CYII=) 0 0 no-repeat;
    background-size: 100%;
}
.div-progress .content .right .trend-img img {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #dadada;
}
.div-progress .content .right .p-comment {
    font-size: 13px;
    color: #333;
    margin-left: 2.5px;
    margin-top: 10px;
    font-weight: 300;
    word-break: break-all;
}
.div-progress .div-spread {
    text-align: center;
    color: #666;
    margin-top: 15px;
    font-size: 12px;
}
.divider {
    width: 100%;
    height: 9px;
    background: #efefef;
}
.div-help {
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    background: #fff;
    border-bottom: none;
}
.div-help .div-title .p-help-tip {
    font-size: 18px;
    color: #111;
}
.div-help .div-title .text-contribute-number {
    height: 54px;
    line-height: 54px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #f5f5f5;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.div-help .content, .div-help .content .left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.div-help .content {
    position: relative;
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dadada;
}
.fav-value-tip-wrap-contribute {
    width: 87%;
    right: auto;
    top: auto;
    bottom: 54px;
}

.fav-value-tip-wrap {
    width: 87%;
    bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    padding: 6% 8%;
    padding-right: 4%;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background-color: #000;
    border: .5px solid #000;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    opacity: .8;
    z-index: 100;
}
.fav-value-tip-wrap img {
    width: 24px;
    height: 28.5px;
    margin: 5px 20px 0 0;
    z-index: 100;
}
.fav-value-tip-wrap .content {
    z-index: 100;
}
.fav-value-tip-wrap-contribute>span {
    border: none;
    padding: 0;
}
.fav-value-tip-wrap-contribute .arrow {
    left: 67px;
}
.fav-value-tip-wrap .arrow {
    left: 81px;
    position: absolute;
    bottom: -8px;
    width: 0;
    height: 0;
    border-width: 8px 6px 0;
    border-style: solid;
    border-color: #000 transparent transparent;
}
.fav-value-tip-wrap-contribute>span {
    border: none;
    padding: 0;
}
.div-help .content .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.div-help .content .left .img-head {
    width: 50px; 
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.div-help .content .right {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 18.5px;
}
.div-help .content .right .div-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 15px;
    color: #333;
}
.div-help .content .right .div-top .p-help-deco {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.div-help .content .right .div-top .p-help-deco .nickname {
    max-width: 100px;
    white-space: nowrap;
    display: inline-block;
    color: #576b95;
    overflow: hidden;
    text-overflow: ellipsis;
}
.div-help .content .right .div-top .p-help-deco span {
    display: inline-block;
    overflow: hidden;
}
.div-help .content .right .div-top .p-help-deco .money-comment>em {
    color: #ffc400;
}
.div-help .content .right .div-top .img-comment {
    width: 19px;
    background: url(../images/leave-message.png) 0 0 no-repeat;
    background-size: 100%;
}
.div-help .content .right .p-comment {
    font-size: 15px;
    color: #333;
    margin-left: 2.5px;
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 10px;
    word-break: break-all;
}
.div-help .content .right .other-info-comment .water {
    margin-right: 18px;
}

.div-help .content .right .other-info-comment .common {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
    font-weight: 300;
}
.div-help .content .right .other-info-comment .water>img {
    position: relative;
    top: 2px;
    width: 10.5px;
    height: 15px;
    margin-right: 2px;
}
.div-help .content .right .other-info-comment .common {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
    font-weight: 300;
}

.div-help .content .right .time {
    margin-top: 5px;
    font-size: 11px;
    color: #999;
    font-weight: 300;
}

.vux-popup-dialog {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #eee;
    z-index: 501;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    max-height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.vux-popup-dialog.vux-popup-left {
  width: auto;
  height: 100%;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
.vux-popup-dialog.vux-popup-right {
  width: auto;
  height: 100%;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
.vux-popup-dialog.vux-popup-top {
  width: 100%;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
.vux-popup-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: -1;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}
.vux-popup-mask.vux-popup-show {
  opacity: 1;
}
.vux-popup-animate-bottom-enter,
.vux-popup-animate-bottom-leave-active {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.vux-popup-animate-left-enter,
.vux-popup-animate-left-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.vux-popup-animate-right-enter,
.vux-popup-animate-right-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.vux-popup-animate-top-enter,
.vux-popup-animate-top-leave-active {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.float-head {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -40px;
    width: 100%;
    height: 50px;
    background-color: #ffba00;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    line-height: 49px;
    z-index: 50;
}
.float-head .case-status {
    position: relative;
    left: 16px;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-align: left;
    line-height: 49px;
}
.float-head .case-operation {
    position: relative;
    right: 16px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    font-size: 14px;
    font-weight: lighter;
    line-height: 49px;
}
.pull-float, .push-float {
    position: relative;
    top: 42%;
    left: -3%;
    width: 9.5px;
    height: 6px;
}
.all-case {
    margin: 79px 0 25px 0;
}
.advertisement {
    margin: 0 4%;
    border: .5px solid rgba(0,0,0,.08);
}
.img-wrap .img-banner {
    display: block;
    width: 100%;
    max-width: 100%;
}
.spacing-container {
    margin: 0 4%;
}
.advertisement {
    margin: 0 4%;
    border: .5px solid rgba(0,0,0,.08);
}
.footer-end-test {
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 50;
    width: 100%;
    height: 49px;
    background-color: #ffba00;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    line-height: 49px;
}
.footer-end-test .case-status {
  position: relative;
  left: 16px;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-align: left;
  line-height: 49px;
}
.footer-end-test .case-operation {
  position: relative;
  right: 16px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  font-size: 14px;
  font-weight: lighter;
  line-height: 49px;
}
.spacing-container {
  margin: 0 4%;
}
.spacing {
  height: 8px;
  background-color: #eee;
}
.none {
  display: none;
}
.overlay-gray, .overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 601;
  opacity: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.overlay {
  background-color: rgba(0,0,0,.5);
}
.dialog {
  position: relative;
  width: 85%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.close {
  width: 100%;
  text-align: right;
}
.close-btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  padding: 15px 15px 0;
  z-index: 10;
}
.model {
  padding: 0 20px 30px;
}
.title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #333;
  font-weight: 400;
}
.operation-step {
  margin-top: 13px;
  text-align: left;
}
.operation-step-item {
  margin-top: 10px;
  font-size: 15px;
}
.check {
  display: block;
  margin-top: 24px;
  padding: 15px 0;
  color: #fff;
  font-size: 15px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffba00;
}
.dialog .title {
  padding: 22.5px 15px 10px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}
.dialog .title strong {
  font-weight: 400;
  line-height: 30px;
}
.dialog .content {
  padding: 0 11px;
  color: #888;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}
.dialog a {
  display: block;
  margin-top: 11px;
  height: 50px;
  color: #0bb20c;
  font-size: 17.5px;
  line-height: 50px;
  text-align: center;
  border-top: 1px solid #d5d5d6;
}