#app {
  height: 100%;
  position: relative;
}
.root {
  padding-top: .32rem;
  background: #efefef;
  min-height: 667px;
}
.tips {
  padding: .26667rem .42667rem;
  line-height: .64rem;
  color: #333;
  font-size: .4rem;
}
.root .div-form {
  margin-bottom: 1.26667rem;
  background-color: #fff;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
.root .div-form .textarea-content {
  display: block;
  width: 100%;
  height: 3.73333rem;
  font-size: .4rem;
  line-height: 1.3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  padding: .21333rem .42667rem .46667rem;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #dadada;
  -webkit-user-modify: read-write-plaintext-only;
  outline: 0;
  overflow: auto;
  resize: none;
  vertical-align: top;
}
.div-upload-image {
  padding: .4rem .42667rem 0;
  border-bottom: 1px solid #dadada;
  background-color: #fff;
}
.div-upload-image .title {
  color: #333;
  font-size: .4rem;
  line-height: .66667rem;
}
.div-upload-image .tip {
  font-size: .32rem;
  color: #666;
  line-height: .4rem;
  padding-bottom: .18667rem;
}
.div-upload-image .div-image-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: .26667rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.div-upload-image .div-image-wrap .img-upload {
  position: relative;
  width: 1.84rem;
  height: 1.84rem;
  margin-right: .26667rem;
  margin-bottom: .26667rem;
  background-size: 100%;
}
.div-upload-image .div-image-wrap .img-upload img {
  width: 1.84rem;
  height: 1.84rem;
}
.upload-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
}
label {
  cursor: default;
}
.upload-file {
  width: 0;
  height: 0;
  -webkit-user-modify: read-write-plaintext-only;
  color: #666;
  outline: 0;
  font-size: .4rem;
  overflow: visible;
}
.root .div-form .tel-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: .34667rem;
}
.root .div-form .tel-wrap .input-tel {
  height: 1.44rem;
  padding-left: .42667rem;
  width: 60%;
  border: 0;
}
input, textarea {
  -webkit-user-modify: read-write-plaintext-only;
  color: #666;
}
input, select, textarea {
  outline: 0;
  color: #666;
  font-size: .4rem;
}
.btn-commit {
  border: none;
  width: 90%;
  height: 1.30667rem;
  display: block;
  color: #fff;
  font-size: .48rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.30667rem;
  -webkit-border-radius: .13333rem;
  border-radius: .13333rem;
  background-color: #ff8400;
}
.div-upload-image .title span {
  color: #999;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    #999;
}